@font-face {
    font-family: 'NunitoSans';
    src: URL('NunitoSans-Regular.ttf') format('truetype');
  }

body, html {
  height: 100%;
  margin: 0;
  font-family: 'NunitoSans', sans-serif;
  background-image: linear-gradient(#013FBC, #22458D);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  background-color: black;
}

hr { 
  color: white;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(#1443A2, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    position: absolute;
    padding: 3px;
    margin-left: 2%;
    margin-top: 10px;
}


ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3;
    transition: 0.5s;
}

.box {
    max-width: 990px;
    margin: 1em auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}